{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST" class="p-4 rounded shadow" style="background-color: #fff0f5; border: 2px dashed #f17ea7; max-width: 500px; margin: auto;">
  <h3 align="center">💖Login to Hippo Notes 101</h3>
  <div class="form-group">
    <label for="email">📧Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">🔐Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">🚪Login</button>
</form>
{% endblock %}