{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST"
class="p-4 rounded shadow"
style="background-color: #fff0f5; border: 2px dashed #f17ea7; max-width: 600px; margin: auto;">
  <h3 align="center">🎀 Sign Up for Hippo Notes 101 🎀</h3>
  <div class="form-group">
    <label for="email">📧 Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName"> 👤First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">🔐Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">🔐 Confirm Password </label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />

  <div class="text-center">
    <button type="submit" class="btn btn-primary px-4 py-2">💌 Submit</button>
  </div>
</form>
{% endblock %}